.prise-catalog_link{
    transition: color 1s;
}
.prise-catalog_link:hover{
    color: rgb(226, 128, 145);
}
.more_link{
    transition: color 1s;
}
.more_link:hover{
    color: rgb(226, 128, 145);
}